//
	$$\   $$\                 $$\                             $$\       $$\             $$\
	$$$\  $$ |                $$ |                            $$ |      \__|            $$ |
	$$$$\ $$ | $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$$\         $$ |      $$\  $$$$$$$\ $$$$$$\
	$$ $$\$$ |$$  __$$\ $$  __$$ |$$  __$$\ $$  _____|$$$$$$\ $$ |      $$ |$$  _____|\_$$  _|
	$$ \$$$$ |$$ /  $$ |$$ /  $$ |$$$$$$$$ |\$$$$$$\  \______|$$ |      $$ |\$$$$$$\    $$ |
	$$ |\$$$ |$$ |  $$ |$$ |  $$ |$$   ____| \____$$\         $$ |      $$ | \____$$\   $$ |$$\
	$$ | \$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |        $$$$$$$$\ $$ |$$$$$$$  |  \$$$$  |
	\__|  \__| \______/  \_______| \_______|\_______/         \________|\__|\_______/    \____/

div(ng-controller='RegistrationCtrl')

	div#thetable

