extends layout

block body
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2

    div(ng-view)

    div
      | Angular seed app: v
      span(app-version)

  script(src='js/lib/require.js')
  script(src='js/config.js')
  script(src='js/app.js')