extends layout

block body

	div(ng-controller='AppCtrl')
		h2 {{name}}

		//div(ng-view)

	div(ng-controller='RegistrationCtrl')
		ul.menu
			li
				a(ng-click='loadRegs()') List Nodes


		div#thetable

