extends layout

block body
  div.navbar-wrapper
    div.container
      div.navbar(role="navigation")
        div.container
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Brand Logo
          div.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href="/") Home
              li
                a(href="/view1") View 1
              li
                a(href='/view2') View 2
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") Social Media
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="http://www.facebook.com")
                      i.fa.fa-facebook-square &nbsp;
                      span Facebook
                  li
                    a(href="http://www.twitter.com")
                      i.fa.fa-twitter-square &nbsp;
                      span Twitter
                  li
                    a(href="https://github.com")
                      i.fa.fa-github-square &nbsp;
                      span GitHub
  div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='/js/lib/ui-bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')