extends layout

block head
	script.
		alert('in the head section')

block body
	script.
		alert('HERE I AM at the start of block body')

	- if(1==1)
		alert('inside the hyphen')

	script.
		function justDoIt(txt) {
			alert(txt)

			var w6 = jQuery('#thetable').WATable({
				url: '/api/watable_data',
				preFill: true,
				debug: true
			}).data('WATable')
			return w6
		}

	div(ng-controller='AppCtrl')
		h2 {{name}}
		h3 {{watable_data}}

		//script.
			justDoIt("in the div")

		ul.menu
			li
				a(href='view1') view1
			li
				a(href='view2') view2

		input.doit(type='checkbox')

		div(ng-view)

		div#thetable
			script.
				jQuery('.doit').on('click', function (e) {
					console.log('e event = ' + e.name)
					e.preventDefault()
					var w6 = justDoIt("in .doit")
					var data = w6.getData()
					//console.log(data.rows.length + ' rows returned')
					console.log(data)
					//alert(data.rows.length + ' rows returned.\nSee console for details.')
					//alert('in .doit')
				})



	div(ng-controller='RegistrationCtrl')
		| Angular seed app: v
		span(app-version)
		ul.list-group
			li.list-group-item(ng-repeat="item in registrations").
				{{ item.data }}

