!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title Nodes-Talking Administrative Application
		link(rel='stylesheet', href='css/app.css')
		link(rel='stylesheet', href='css/bootstrap.min.css')
	body
		block body